@use 'variables';
@use 'modifiers' as *;

$borders-styles: (
  solid: solid,
  dashed: dashed,
  dotted: dotted,
  double: double,
  none: none
);

// Default border-radius scale
$border-radius-scale: (
  none: 0px,
  sm: 0.125rem,
  DEFAULT: 0.25rem,
  md: 0.375rem,
  lg: 0.5rem,
  xl: 0.75rem,
  '2xl': 1rem,
  '3xl': 1.5rem,
  full: 9999px
);

@mixin apply-borders($prefix: '.', $postfix: '') {
  @each $border-style, $value in $borders-styles {
    #{$prefix}border-#{$border-style}#{$postfix} {
      border-style: $value;
    }
    #{$prefix}outline-#{$border-style}#{$postfix} {
      outline-style: $value;
    }
  }
  #{$prefix}border#{$postfix} {
    border-width: 1px;
  }
  #{$prefix}outline#{$postfix} {
    outline-width: 1px;
  }
  @for $i from 0 through 12 {
    #{$prefix}border-#{$i}#{$postfix} {
      border-width: #{$i}px;
    }
    #{$prefix}border-t-#{$i}#{$postfix} {
      border-top-width: #{$i}px;
    }
    #{$prefix}border-r-#{$i}#{$postfix} {
      border-right-width: #{$i}px;
    }
    #{$prefix}border-b-#{$i}#{$postfix} {
      border-bottom-width: #{$i}px;
    }
    #{$prefix}border-l-#{$i}#{$postfix} {
      border-left-width: #{$i}px;
    }
    #{$prefix}border-x-#{$i}#{$postfix} {
      border-inline-width: #{$i}px;
    }
    #{$prefix}border-y-#{$i}#{$postfix} {
      border-block-width: #{$i}px;
    }
    #{$prefix}outline-#{$i}#{$postfix} {
      outline-width: #{$i}px;
    }
    #{$prefix}outline-offset-#{$i}#{$postfix} {
      outline-offset: #{$i}px;
    }
  }
}

@mixin apply-border-radius($prefix: '.', $postfix: '') {
  @each $name, $size in $border-radius-scale {
    @if $name == DEFAULT {
      #{$prefix}rounded#{$postfix} {
        border-radius: $size;
      }
      #{$prefix}rounded-t#{$postfix} {
        border-top-left-radius: $size;
        border-top-right-radius: $size;
      }
      #{$prefix}rounded-r#{$postfix} {
        border-top-right-radius: $size;
        border-bottom-right-radius: $size;
      }
      #{$prefix}rounded-b#{$postfix} {
        border-bottom-right-radius: $size;
        border-bottom-left-radius: $size;
      }
      #{$prefix}rounded-l#{$postfix} {
        border-top-left-radius: $size;
        border-bottom-left-radius: $size;
      }
      #{$prefix}rounded-s#{$postfix} {
        border-start-start-radius: $size;
        border-end-start-radius: $size;
      }
      #{$prefix}rounded-e#{$postfix} {
        border-start-end-radius: $size;
        border-end-end-radius: $size;
      }
    } @else {
      #{$prefix}rounded-#{$name}#{$postfix} {
        border-radius: $size;
      }
      #{$prefix}rounded-t-#{$name}#{$postfix} {
        border-top-left-radius: $size;
        border-top-right-radius: $size;
      }
      #{$prefix}rounded-r-#{$name}#{$postfix} {
        border-top-right-radius: $size;
        border-bottom-right-radius: $size;
      }
      #{$prefix}rounded-b-#{$name}#{$postfix} {
        border-bottom-right-radius: $size;
        border-bottom-left-radius: $size;
      }
      #{$prefix}rounded-l-#{$name}#{$postfix} {
        border-top-left-radius: $size;
        border-bottom-left-radius: $size;
      }
      #{$prefix}rounded-s-#{$name}#{$postfix} {
        border-start-start-radius: $size;
        border-end-start-radius: $size;
      }
      #{$prefix}rounded-e-#{$name}#{$postfix} {
        border-start-end-radius: $size;
        border-end-end-radius: $size;
      }
    }
  }
}

@include apply-borders('.');
@include apply-border-radius('.');

@each $state in $states {
  @include apply-borders('.#{$state}\\:', ':#{$state}');
}