@use 'modifiers' as *;

$overflow-values: (
  auto: auto,
  hidden: hidden,
  visible: visible,
  clip: clip,
  scroll: scroll,
);

@mixin apply-overflows($prefix: '.') {
  @each $name, $value in $overflow-values {
    #{$prefix}overflow-#{$name} {
      overflow: $value;
    }

    #{$prefix}overflow-x-#{$name} {
      overflow-x: $value;
    }

    #{$prefix}overflow-y-#{$name} {
      overflow-y: $value;
    }
  }
}

@include apply-overflows('.');
