@use './variables' as *;
@use './modifiers' as *;

@mixin apply-sizes($prefix: '.') {
  #{$prefix}w-auto {
    width: auto;
  }
  #{$prefix}h-auto {
    height: auto;
  }
  #{$prefix}w-full {
    width: 100%;
  }
  #{$prefix}h-full {
    height: 100%;
  }
  #{$prefix}w-screen {
    width: 100vw;
  }
  #{$prefix}h-screen {
    height: 100vh;
  }
  #{$prefix}w-min {
    width: min-content;
  }
  #{$prefix}h-min {
    height: min-content;
  }
  #{$prefix}w-max {
    width: max-content;
  }
  #{$prefix}h-max {
    height: max-content;
  }
  #{$prefix}w-fit {
    width: fit-content;
  }
  #{$prefix}h-fit {
    height: fit-content;
  }

  @for $i from 1 through 10 {
    #{$prefix}w-#{$i}00px {
      width: calc($i * 100px);
    }
    #{$prefix}h-#{$i}00px {
      height: calc($i * 100px);
    }

    #{$prefix}w-#{$i}0pct {
      width: calc($i * 10%);
    }
    #{$prefix}h-#{$i}0pct {
      height: calc($i * 10%);
    }
  }

  @each $name, $size in $tailwind-fixed-sizes {
    #{$prefix}w-#{$name} {
      width: $size;
    }
    #{$prefix}h-#{$name} {
      height: $size;
    }
  }
}

@include apply-sizes('.');

@each $breakpoint, $value in $breakpoints {
  @media (min-width: $value) {
    @include apply-sizes('.#{$breakpoint}\\:');
  }
}
