@use 'variables' as *;
@use 'modifiers' as *;

@mixin apply-spacing($prefix: '.') {
  #{$prefix}m-auto {
    margin: auto;
  }
  #{$prefix}mt-auto {
    margin-top: auto;
  }
  #{$prefix}mr-auto {
    margin-right: auto;
  }
  #{$prefix}mb-auto {
    margin-bottom: auto;
  }
  #{$prefix}ml-auto {
    margin-left: auto;
  }
  #{$prefix}mx-auto {
    margin-inline: auto;
  }
  #{$prefix}my-auto {
    margin-block: auto;
  }

  @each $name, $size in $tailwind-fixed-sizes {
    #{$prefix}gap-#{$name} {
      gap: $size;
    }
    #{$prefix}m-#{$name} {
      margin: $size;
    }
    #{$prefix}mt-#{$name} {
      margin-top: $size;
    }
    #{$prefix}mr-#{$name} {
      margin-right: $size;
    }
    #{$prefix}mb-#{$name} {
      margin-bottom: $size;
    }
    #{$prefix}ml-#{$name} {
      margin-left: $size;
    }
    #{$prefix}mx-#{$name} {
      margin-inline: $size;
    }
    #{$prefix}my-#{$name} {
      margin-block: $size;
    }
    #{$prefix}p-#{$name} {
      padding: $size;
    }
    #{$prefix}pt-#{$name} {
      padding-top: $size;
    }
    #{$prefix}pr-#{$name} {
      padding-right: $size;
    }
    #{$prefix}pb-#{$name} {
      padding-bottom: $size;
    }
    #{$prefix}pl-#{$name} {
      padding-left: $size;
    }
    #{$prefix}px-#{$name} {
      padding-inline: $size;
    }
    #{$prefix}py-#{$name} {
      padding-block: $size;
    }
    #{$prefix}top-#{$name} {
      top: $size;
    }
    #{$prefix}right-#{$name} {
      right: $size;
    }
    #{$prefix}bottom-#{$name} {
      bottom: $size;
    }
    #{$prefix}left-#{$name} {
      left: $size;
    }
  }
}

@include apply-spacing('.');

@each $breakpoint, $value in $breakpoints {
  @media (min-width: $value) {
    @include apply-spacing('.#{$breakpoint}\\:');
  }
}