@use 'variables' as *;
@use 'modifiers' as *;

$text-props: (
  text-left: (
    text-align: left
  ),
  text-right: (
    text-align: right
  ),
  text-center: (
    text-align: center
  ),
  text-justify: (
    text-align: justify
  ),
  truncate: (
    overflow: hidden,
    text-overflow: ellipsis,
    white-space: nowrap
  ),
  text-ellipsis: (
    text-overflow: ellipsis
  ),
  text-clip: (
    text-overflow: clip
  ),
  text-wrap: (
    white-space: normal
  ),
  text-nowrap: (
    white-space: nowrap
  ),
  text-balance: (
    text-wrap: balance
  ),
  text-pretty: (
    text-wrap: pretty
  ),
  font-bold: (
    font-weight: bold
  )
);

@mixin apply-text-props($prefix: '.') {
  @each $prop, $value in $text-props {
    #{$prefix}#{$prop} {
      @each $key, $value in $value {
        #{$key}: $value;
      }
    }
  }
  @each $name, $size in $text-sizes {
    #{$prefix}text-#{$name} {
      font-size: $size;
    }
  }
}

@include apply-text-props('.');

@each $breakpoint, $value in $breakpoints {
  @media (min-width: $value) {
    @include apply-text-props(bp-prefix($breakpoint));
  }
}